
html
    head
        title!= title
    body

        h1!= message
        li how do lade
        input(type = "text",
              name = "login")
        input(type = "text" ,
              name ='hehe')

