
html
    head
        
    body
      h1 Welcome
        div
          form(method = "GET", action = "api/login")
            input(type = "submit", value = "login")
          form(method = "GET", action = "api/signup")
            input(type = "submit", value = "signup")

